
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #dff4ed;
}

header {
  background-color: #0B2A28;
  color: rgb(221, 195, 139);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
}

.logo {
  width: 200px;
}

nav {
  display: flex;
  gap: 15px;
}

nav a {
  text-decoration: none;
  color: #f6eed3;
  font-weight: bold;
  font-size: small;
  padding: 6px 10px;
  border-radius: 4px;
  transition: background-color 0.3s;
}

nav a:hover {
  background-color: #402e0b;
  color: #ebd8b1;
